In [112]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import os
import glob
os.chdir("stfiles")

In [25]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
#URL for Zillow Ny housing data
url = 'https://www.zillow.com/homes/New-York,-NY_rb/'
browser.visit(url)

In [31]:
html = browser.html

In [32]:
soup = BeautifulSoup(html, 'html5lib')
#print(soup.prettify())

In [54]:
#Scrape address, and listing price from Zillow NY

#Scrape through multiple pages (note: On the first instance zillow allowed multiple extracts, after the first attempt I was only able to scrape 40 properties)
for x in range(1,4):

    nyresults= soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in nyresults: 
   
        location = result.find('address', class_='list-card-addr').text
    
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)

        #print(f" Address: {location}, Asking Price: {price}")
    
    browser.links.find_by_partial_text('Next')

In [114]:
#Set dataframe
ny_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})
#ny_listing_df

In [60]:
#Split the address column by ","

# new data frame with split value columns 
nynew = ny_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
ny_listing_df["Street"]= nynew[0] 
  
# making separate city column from new data frame 
ny_listing_df["City"]= nynew[1] 

ny_listing_df["State"]=nynew[2] 
  
# Dropping old Name columns 
ny_listing_df.drop(columns =["Address"], inplace = True) 
  
# df display 
ny_listing_df

   Asking Price                          Street               City      State
0      $350,000                  17-44 166th St         Whitestone   NY 11357
1      $324,900         448 Neptune Ave APT 18A           Brooklyn   NY 11224
2      $380,000              637 41st St APT 2D           Brooklyn   NY 11232
3      $340,000               21-68 35th St #3F            Astoria   NY 11105
4    $1,799,000               18-13 26th Ave #1            Astoria   NY 11102
5      $210,000        255 Fieldston Ter APT 4E              Bronx   NY 10471
6      $228,000           19958 21st Ave #1-166         Whitestone   NY 11357
7      $388,000             9952 66th Rd APT 9D          Rego Park   NY 11374
8      $449,000          3165 Emmons Ave APT 1E           Brooklyn   NY 11235
9      $669,000                  1973 E 33rd St           Brooklyn   NY 11234
10   $1,750,000               129 Tiffany Pl #A           Brooklyn   NY 11231
11   $1,499,000                433 Beach 143 St      Rockaway Park   NY 11694
12     $695,000          249 Eldridge St APT 19           New York   NY 10002
13     $725,000            314 W 19th St APT 4A           New York   NY 10011
14     $450,000            14 Orchard St APT 4G           New York   NY 10002
15     $276,400               70 Selvin Loop #1      Staten Island   NY 10303
16     $765,000              3425 Olinville Ave              Bronx   NY 10467
17     $665,850                   8081 88th Ave            Jamaica   NY 11421
18     $849,850                  1181 E 84th St           Brooklyn   NY 11236
19     $899,900             104-09 Martense Ave             Corona   NY 11368
20   $1,200,000                 246-11 52nd Ave        Little Neck   NY 11362
21     $665,000               1912 Avenue H #4H           Brooklyn   NY 11230
22   $1,625,000               120 E 75th St #7A           New York   NY 10021
23     $875,000           305 E 24th St APT 11B           New York   NY 10010
24     $300,000             54-17 31st Ave #A2O           Woodside   NY 11377
25     $563,500                3424 Tiemann Ave              Bronx   NY 10469
26     $448,500                 2666 Briggs Ave              Bronx   NY 10458
27   $4,370,000       25 Central Park W APT 16I           New York   NY 10023
28     $435,000            210 E 21st St APT 4D           New York   NY 10010
29     $415,000               61-35 98th St #7H          Rego Park   NY 11374
30     $829,000         2 Tudor City Pl APT 4JS           New York   NY 10017
31   $2,550,000         200 Chambers St APT 16B           New York   NY 10007
32     $569,000               12202 Linden Blvd   South Ozone Park   NY 11420
33     $584,200                  10242 188th St            Jamaica   NY 11423
34     $572,700                    16 W 11th Rd      Broad Channel   NY 11693
35     $517,500                   74 Dubois Ave      Staten Island   NY 10310
36     $429,000  103-06 Rockaway Beach Blvd #1A      Rockaway Park   NY 11694
37     $330,000                   29 Eleanor Pl      Staten Island   NY 10303
38   $1,348,888                   8770 25th Ave           Brooklyn   NY 11214
39     $836,000                182 Olympia Blvd      Staten Island   NY 10305

In [61]:
#Save to extract
ny_listing_df.to_csv("ny_data.csv",encoding="utf-8", index=False)

In [62]:
#Scrape Zillow Chicago data
ch_url = 'https://www.zillow.com/homes/Chicago,-IL_rb/'
browser.visit(ch_url)
ch_html = browser.html
ch_soup = BeautifulSoup(ch_html, 'html5lib')

for x in range(1,4):

    chresults= ch_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in chresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    ch_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
chnew = ch_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
ch_listing_df["Street"]= chnew[0] 
# making separate city column from new data frame 
ch_listing_df["City"]= chnew[1] 
# making separate city column from new data frame 
ch_listing_df["State"]=chnew[2] 
  
# Dropping old Name columns 
ch_listing_df.drop(columns =["Address"], inplace = True) 

#Create CVS extract
ch_listing_df.to_csv("ch_data.csv",encoding="utf-8", index=False)

In [63]:
#Scrape Zillow San Francisco data
sf_url = 'https://www.zillow.com/homes/San-Francisco,-CA_rb/'
browser.visit(sf_url)
sf_html = browser.html
sf_soup = BeautifulSoup(sf_html, 'html5lib')

for x in range(1,4):

    sfresults= sf_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in sfresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    sf_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})

# new data frame with split value columns 
sfnew = sf_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
sf_listing_df["Street"]= sfnew[0] 
# making separate city column from new data frame 
sf_listing_df["City"]= sfnew[1] 
# making separate city column from new data frame 
sf_listing_df["State"]=sfnew[2] 
  
# Dropping old Name columns 
sf_listing_df.drop(columns =["Address"], inplace = True)        

#Create extract
sf_listing_df.to_csv("sf_data.csv",encoding="utf-8", index=False)

In [64]:
#Scrape Zillow Austin data
au_url = 'https://www.zillow.com/homes/Austin,-TX_rb/'
browser.visit(au_url)
au_html = browser.html
au_soup = BeautifulSoup(au_html, 'html5lib')

for x in range(1,4):

    auresults= au_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in auresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    au_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})

# new data frame with split value columns 
aunew = au_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
au_listing_df["Street"]= aunew[0] 
# making separate city column from new data frame 
au_listing_df["City"]= aunew[1] 
# making separate city column from new data frame 
au_listing_df["State"]=aunew[2] 
  
# Dropping old Name columns 
au_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
au_listing_df.to_csv("au_data.csv",encoding="utf-8", index=False)

In [65]:
#Scrape Zillow Seattle data
se_url = 'https://www.zillow.com/homes/Seattle_rb/'
browser.visit(se_url)
se_html = browser.html
se_soup = BeautifulSoup(se_html, 'html5lib')

for x in range(1,4):

    seresults= se_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in seresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    se_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
senew = se_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
se_listing_df["Street"]= senew[0] 
# making separate city column from new data frame 
se_listing_df["City"]= senew[1] 
# making separate city column from new data frame 
se_listing_df["State"]=senew[2] 
  
# Dropping old Name columns 
se_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
se_listing_df.to_csv("se_data.csv",encoding="utf-8", index=False)

In [67]:
#Scrape Zillow Los Angeles data
la_url = 'https://www.zillow.com/homes/Los-Angeles,-CA_rb/'
browser.visit(la_url)
la_html = browser.html
la_soup = BeautifulSoup(la_html, 'html5lib')

for x in range(1,4):

    laresults= la_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in laresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)

    browser.links.find_by_partial_text('Next')
    
    #create dataframe
    la_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
lanew = la_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
la_listing_df["Street"]= lanew[0] 
# making separate city column from new data frame 
la_listing_df["City"]= lanew[1] 
# making separate city column from new data frame 
la_listing_df["State"]=lanew[2] 
  
# Dropping old Name columns 
la_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
la_listing_df.to_csv("la_data.csv",encoding="utf-8", index=False)

In [71]:
#Scrape Zillow Philadelphia data
pa_url = 'https://www.zillow.com/homes/Philadelphia,-PA_rb/'
browser.visit(pa_url)
pa_html = browser.html
pa_soup = BeautifulSoup(pa_html, 'html5lib')

for x in range(1,4):

    paresults= pa_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in paresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    pa_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
panew = pa_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
pa_listing_df["Street"]= panew[0] 
# making separate city column from new data frame 
pa_listing_df["City"]= panew[1] 
# making separate city column from new data frame 
pa_listing_df["State"]=panew[2] 
  
# Dropping old Name columns 
pa_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
pa_listing_df.to_csv("pa_data.csv",encoding="utf-8", index=False)

In [72]:
#Scrape Zillow Atlanta data
at_url = 'https://www.zillow.com/homes/Atlanta,-GA_rb/'
browser.visit(at_url)
at_html = browser.html
at_soup = BeautifulSoup(at_html, 'html5lib')
#print(soup.prettify())
for x in range(1,4):

    atresults= at_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in atresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    at_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
atnew = at_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
at_listing_df["Street"]= atnew[0] 
# making separate city column from new data frame 
at_listing_df["City"]= atnew[1] 
# making separate city column from new data frame 
at_listing_df["State"]=atnew[2] 
  
# Dropping old Name columns 
at_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
at_listing_df.to_csv("at_data.csv",encoding="utf-8", index=False)

In [77]:
#Scrape Zillow Dallas data
da_url = 'https://www.zillow.com/homes/Dallas,-TX_rb/'
browser.visit(da_url)
da_html = browser.html
da_soup = BeautifulSoup(da_html, 'html5lib')

for x in range(1,4):

    daresults= da_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in daresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    da_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
danew = da_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
da_listing_df["Street"]= danew[0] 
# making separate city column from new data frame 
da_listing_df["City"]= danew[1] 
# making separate city column from new data frame 
da_listing_df["State"]=danew[2] 
  
# Dropping old Name columns 
da_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
da_listing_df.to_csv("da_data.csv",encoding="utf-8", index=False)

In [78]:
#Scrape Zillow Pittsburgh data
pit_url = 'https://www.zillow.com/homes/Pittsburgh,-PA_rb/'
browser.visit(pit_url)
pit_html = browser.html
pit_soup = BeautifulSoup(pit_html, 'html5lib')

for x in range(1,4):

    pitresults= pit_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in pitresults: 
   
        location = result.find('address', class_='list-card-addr').text
    
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)

    browser.links.find_by_partial_text('Next')
    
    #Create extract
    pit_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
pitnew = pit_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
pit_listing_df["Street"]= pitnew[0]
# making separate city column from new data frame 
pit_listing_df["City"]= pitnew[1] 
# making separate city column from new data frame 
pit_listing_df["State"]=pitnew[2] 
  
# Dropping old Name columns 
pit_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
pit_listing_df.to_csv("pit_data.csv",encoding="utf-8", index=False)

In [80]:
#Scrape Zillow Portland data
por_url = 'https://www.zillow.com/homes/Portland,-OR_rb/'
browser.visit(por_url)
por_html = browser.html
por_soup = BeautifulSoup(por_html, 'html5lib')

for x in range(1,4):

    porresults= por_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in porresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)

    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    por_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
pornew = por_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
por_listing_df["Street"]= pornew[0] 
# making separate city column from new data frame 
por_listing_df["City"]= pornew[1] 
# making separate city column from new data frame 
por_listing_df["State"]=pornew[2] 
  
# Dropping old Name columns 
por_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
por_listing_df.to_csv("por_data.csv",encoding="utf-8", index=False)

In [81]:
#Scrape Zillow Phoenix data
ph_url = 'https://www.zillow.com/homes/Phoenix,-AZ_rb/'
browser.visit(ph_url)
ph_html = browser.html
ph_soup = BeautifulSoup(ph_html, 'html5lib')

for x in range(1,4):

    phresults= ph_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in phresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create extract
    ph_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
phnew = ph_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
ph_listing_df["Street"]= phnew[0] 
# making separate city column from new data frame 
ph_listing_df["City"]= phnew[1] 
# making separate city column from new data frame 
ph_listing_df["State"]=phnew[2] 
  
# Dropping old Name columns 
ph_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
ph_listing_df.to_csv("ph_data.csv",encoding="utf-8", index=False)

In [83]:
#Scrape Zillow Denver data
de_url = 'https://www.zillow.com/homes/Denver,-CO_rb/'
browser.visit(de_url)
de_html = browser.html
de_soup = BeautifulSoup(de_html, 'html5lib')
#print(soup.prettify())
for x in range(1,4):

    deresults= de_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in deresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text
        
        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create extract
    de_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
denew = de_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
de_listing_df["Street"]= denew[0] 
# making separate city column from new data frame 
de_listing_df["City"]= denew[1] 
# making separate city column from new data frame 
de_listing_df["State"]=denew[2] 
  
# Dropping old Name columns 
de_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
de_listing_df.to_csv("de_data.csv",encoding="utf-8", index=False)

In [84]:
#Scrape Zillow Houston data
ho_url = 'https://www.zillow.com/homes/Houston,-TX_rb/'
browser.visit(ho_url)
ho_html = browser.html
ho_soup = BeautifulSoup(ho_html, 'html5lib')

for x in range(1,4):

    horesults= ho_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in horesults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    ho_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
honew = ho_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
ho_listing_df["Street"]= honew[0] 
  
# making separate city column from new data frame 
ho_listing_df["City"]= honew[1] 
# making separate city column from new data frame 
ho_listing_df["State"]=honew[2] 
  
# Dropping old Name columns 
ho_listing_df.drop(columns =["Address"], inplace = True) 

#Create extract
ho_listing_df.to_csv("ho_data.csv",encoding="utf-8", index=False)

In [86]:
#Scrape Zillow Miami data
mi_url = 'https://www.zillow.com/homes/Miami,-FL_rb/'
browser.visit(mi_url)
mi_html = browser.html
mi_soup = BeautifulSoup(mi_html, 'html5lib')

for x in range(1,4):

    miresults= mi_soup.find_all('div', class_='list-card-info')

    address= []
    asking_price=[]
    for result in miresults: 
   
        location = result.find('address', class_='list-card-addr').text
        price = result.find('div', class_='list-card-price').text

        address.append(location)
        asking_price.append(price)
    
    browser.links.find_by_partial_text('Next')
    
    #Create dataframe
    mi_listing_df=pd.DataFrame ({"Address":address, "Asking Price": asking_price})


# new data frame with split value columns 
minew = mi_listing_df["Address"].str.split(",", n = 2, expand = True) 
  
# making separate street column from new data frame 
mi_listing_df["Street"]= minew[0] 
# making separate city column from new data frame 
mi_listing_df["City"]= minew[1] 
# making separate city column from new data frame 
mi_listing_df["State"]=minew[2] 
# Dropping old Name columns 
mi_listing_df.drop(columns =["Address"], inplace = True) 

#Save into an extract
mi_listing_df.to_csv("mi_data.csv",encoding="utf-8", index=False)

In [113]:
#Save all extracts into a single file
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')