In [1]:
# Import Pandas
import pandas as pd

In [2]:
#Clean and export company rating data to a csv
filepath = "../../Scraping/csv/company_rating.csv"
company_rating = pd.read_csv(filepath)

#Fill NaN value to No Rating
com_rating_df=company_rating.fillna("No Rating")

#Save to CSV
com_rating_df.to_csv('../Resources/company_rating.csv', index=False)

In [5]:
##Clean and export housing data to a csv

#Call First Scraping Housing Data
filepath2 = "../../Scraping/stfiles/cleaned_combined_csv.csv"
housing1 = pd.read_csv(filepath2)
housing1_df=housing1.rename(columns={"Asking Price":"Asking_Price"})

#Call Second Scraping Housing Data
filepath3 = "../../Scraping/IYK- ETL Project/combined_csv_continued.csv"
housing2 = pd.read_csv(filepath3)
housing2_df=housing2.rename(columns={"Asking Price":"Asking_Price"})


#Concactinate the two data
housing_df=pd.concat([housing1_df, housing2_df],ignore_index=True)

#Remove Duplicates
housing_df.drop_duplicates(subset=['Street'],inplace=True)

for index, row in housing_df.iterrows():
    housing_df.loc[index, 'Asking_Price'] = housing_df.loc[index,'Asking_Price'].strip("Est. $").strip("$").strip("+").replace(",","")

housing_df=housing_df.loc[housing_df["Asking_Price"]!="--"]

housing_df=housing_df["City"].replace(" ")

housing_df=housing_df.drop(columns=["State", "Zip"])

#Save to CSV
housing_df.to_csv('../Resources/housing.csv', index=False)

In [13]:
city_df=pd.DataFrame({"city":housing_df["City"].unique()})
city_df.to_csv('../Resources/city.csv', index=False)

In [20]:
Remote=input("What City Do you Live?")

What City Do you Live? Los Angeles

In [43]:
##Clean and export company salary data to a csv

#Call First Scraping salary Data
filepath3 = "../../Scraping/IYK- ETL Project/scrape_indeed_combined.csv"
salary_df = pd.read_csv(filepath3)

#Fill NaN values 
salary_df["location"]=salary_df["location"].fillna(" Los Angeles")
salary_df["salary"]=salary_df["salary"].fillna("Unknown")

#Create empty column
salary_df["city"]=""

salary_df["index"]=salary_df.index

#Write out city
for index, row in salary_df.iterrows():
    salary_df.loc[index, 'city'] = salary_df.loc[index,'location'].split(",")[0]

# for index, row in salary_df.iterrows():
#     if salary_df.loc[index, 'company'] not in com_rating_df["company"]:
#         salary_df=salary_df.drop([index])

#Export to CSV
# salary_df.to_csv('../Resources/company_salary.csv', index=False)

In [40]:
salary_df

,location,company,title,salary,city,index
0,Los Angeles,"Resolute Management, Inc.",Quantitative Analyst,"$50,000 - $60,000 a year",Los Angeles,0
1,Los Angeles,Aldi,Data Analytics Specialist,"$62,000 a year",Los Angeles,1
2,Los Angeles,First Notch Technology,Data Analyst with sql,$22 an hour,Los Angeles,2
3,Los Angeles,Aldi,Data Analytics Associate II,$26.25 an hour,Los Angeles,3
4,Los Angeles,Private,Data Analyst,$13 an hour,Los Angeles,4
...,...,...,...,...,...,...
86,"Washington, DC 20006 (Downtown area)",FARMER MAC,Data Scientist,Unknown,Washington,86
87,Los Angeles,GeneDx,Senior Genomic Data Scientist,Unknown,Los Angeles,87
88,Los Angeles,Northrop Grumman,Sr. Principal Data Scientist,Unknown,Los Angeles,88
89,Los Angeles,Humana,Lead Data Scientist,Unknown,Los Angeles,89
90,Los Angeles,PayPal,Data Scientist,Unknown,Los Angeles,90

In [49]:
x=salary_df["company"]

In [57]:
y=[]

for x in x:
    if x in com_rating_df["company"]: 
        print(x)

In [48]:
for index, row in salary_df.iterrows():
    if salary_df.loc[index, 'company'] not in com_rating_df["company"]:
        salary_df.loc[salary_df[index]]=salary_df.drop([index])

KeyError: 0

In [42]:
salary_df

Empty DataFrame
Columns: [location, company, title, salary, city, index]
Index: []

In [30]:
salary_df.loc[1]

location                  Los Angeles
company                          Aldi
title       Data Analytics Specialist
salary                 $62,000 a year
city                      Los Angeles
index                               1
Name: 1, dtype: object