In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
data_scientist = pd.read_csv("scrape_indeed_data_scientist.csv")

In [3]:
#URL to scrape
url = "http://www.indeed.com/jobs"

In [4]:
#get response from the URL
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, 'html5lib')

In [6]:
#Set the intersted cities to search for
DEFAULT_CITIES = {'New York', 'Chicago', 'San Francisco', 'Austin', 'Seattle',
                  'Los Angeles', 'Philadelphia', 'Atlanta', 'Dallas',
                  'Pittsburgh', 'Portland', 'Phoenix', 'Denver', 'Houston',
                  'Miami'}

In [7]:
params = {'q': 'data analyst', 'radius': '100'}
max_results = 100

In [8]:
def _location(result):
    try:
        location = result.find('span', class_='location').get_text().strip()
        return location
    except:
        return None

In [9]:
def _company(result):
    try:
        company = result.find('span', class_='company').get_text().strip()
        return company
    except:
        return None

In [10]:
def _title(result):
    try:
        title = result.find('a', attrs={'data-tn-element': "jobTitle"}).get(
            'title')
        return title
    except:
        return None

In [11]:
def _salary(result):
    try:
        company = result.find('span', class_='salaryText').get_text().strip()
        return company
    except:
        return None

In [12]:
scraped_data = {'location': [],
            'company': [],
            'title': [],
            'salary': []}

for city in DEFAULT_CITIES:
    for start in range(0, max_results, 15):
        url_params = params.copy()
        url_params.update({'l': city, 'start': start})

        response = requests.get(url, params=params)
        soup = BeautifulSoup(response.text, 'lxml')
        results = soup.find_all('div', class_='result')
        
        time.sleep(0.5)
        print(response.url)
        
        for result in results:
            scraped_data['location'].append(_location(result))
            scraped_data['company'].append(_company(result))
            scraped_data['title'].append(_title(result))
            scraped_data['salary'].append(_salary(result))
company_info_df = pd.DataFrame(scraped_data)

https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100
https://www.indeed.com/jobs?q=data+analyst&radius=100

In [21]:
data_analyst = company_info_df.drop_duplicates()

In [22]:
data_analyst

,location,company,title,salary
0,None,"Resolute Management, Inc.",Quantitative Analyst,"$50,000 - $60,000 a year"
1,None,Aldi,Data Analytics Specialist,"$62,000 a year"
2,None,First Notch Technology,Data Analyst with sql,$22 an hour
3,None,Aldi,Data Analytics Associate II,$26.25 an hour
4,None,Private,Data Analyst,$13 an hour
5,None,Integrated Services of Kalamazoo,Data Analyst,None
6,"Detroit, MI 48202 (New Center area)",DPSCD,"Program Associate I, Data Analyst",$64.50 an hour
7,"Livonia, MI 48152",AccumTech,Data Analyst,"$55,000 - $85,000 a year"
8,"Detroit, MI",VROOM,Data Analyst,None
9,"Detroit, MI 48216 (Briggs area)",MICHIGAN CONFERENCE OF TEAMSTERS WELFARE FUND,Claims Data Analyst Healthcare,$18 - $22 an hour
10,"Newport Beach, CA",Lyceum Dynamics,Data Analyst,$40 - $50 an hour
11,"Orlando, FL 32801 (Central Business District a...",Change Everything Inc.,Data Analyst Intern,None
12,"Bloomfield Hills, MI 48302",Common Ground,Data Analyst - Full-Time (Non-Exempt),None
13,"Detroit, MI",General Motors,Data Analyst for Enterprise Integration Intern,None
14,"Bellevue, WA",Streams Inc,Data Analyst,None
15,"Detroit, MI 48226 (Downtown area)",Quicken Loans,Data Solutions Analyst,None
16,None,"Michigan Planners, Inc.",Employee Benefits Plan Analyst,None
17,None,Maschmeyer Concrete Company of Florida,Data Analyst,None
18,None,JND Legal Administration,Data Analyst,"$60,000 - $80,000 a year"
19,None,Starr and Associates,Data Analyst,"$80,000 - $106,242 a year"
20,None,"Deacom, Inc.",Data Specialist,"$60,000 - $95,000 a year"
22,None,"Decision Information Resources, Inc",Senior Data Analyst,"$80,000 - $115,000 a year"
23,None,Christie Campus Health,Data Research Analyst,$23 - $28 an hour
24,None,"Prime MSO, LLC.",Jr. Data Analyst (Jr. DA),"$38,000 - $60,000 a year"
25,None,Qi Venture Partners,Research & Data Analyst,"$50,000 - $65,000 a year"
26,None,County of Washington,Data Analyst II,$17.88 an hour
27,None,Amida Technology Solutions,Data Analyst,None
28,None,Wellview Health,Business Intelligence Analyst,"$65,000 - $90,000 a year"
31,None,Team Velocity,Mid-Level Data Analyst,None
47,None,Columbia Marking Tools,Customer Service/Data Entry,$14 - $15 an hour
66,None,"Asset Protection Unit, Inc.",Overpayment Data Analyst/Programmer,"$70,000 - $100,000 a year"
68,None,Liberty Mutual Insurance,Principal Data Analyst,"$110,900 - $143,500 a year"
89,None,"Edge Pharma, LLC.",QC Microbiology Analyst,None
106,None,Delta Research Inc,Tactical Data Link Analyst,None
141,None,CNS Healthcare,Business Analyst,None
147,None,Brook Valley Management,Retail Data Analyst,"$60,000 - $75,000 a year"
216,None,Auxilior Capital Partners,Senior Credit Analyst,"$65,000 - $75,000 a year"
220,None,Stevens Engineers and Constructors,Project Controls Analyst,None
221,None,Dow Jones,"Data Engineer, Newsroom Data Products",None
241,None,Backer-Springfield (Backer EHP Inc.),Network Analyst,None
259,None,Amfuel,Cost/Schedule Analyst,"$50,000 a year"
401,None,Alliant Energy,Senior Data Warehouse/Data Modeling Analyst,None
435,None,"Paulson Investment Company, LLC",Investment Banking Analyst (Life Science),"$40,000 - $90,000 a year"
548,None,Comerica Bank,Technical Data Analytics Principal Engineer,None
638,None,Mid-Delta Durable Medical Equipment,DME Billing Analyst,None
642,None,"Suracy Insurance Agency, Inc.",Senior Data Analyst,None
657,None,InterVarsity Christian Fellowship,Data Quality Analyst,"$43,000 - $58,000 a year"
682,None,Collection Experts Inc,Data Analyst/Helpdesk,None
964,None,Bath Community Hospital,Revenue Integrity Analyst,None
1001,None,DTSV,Data Analyst,None

In [18]:
company_df.to_csv('scrape_indeed_data_analyst.csv', index=False, encoding='utf8')

In [26]:
company_final = pd.merge(data_analyst,data_scientist,how="outer")

In [27]:
company_final.to_csv('scrape_indeed_combined.csv', index=False, encoding='utf8')